body {
    background-color: rgb(255, 192, 203);
}

.header {
    max-width: 50%;
    margin: 0 auto;
}

@media screen and (min-width: 1000px) and (hover:hover) {
    .memeTitle input:hover ~ .content {
        opacity: 1;
        max-height: 150%;
        transition: all 1s ease-in;
    } 
}

/* ADAPTIVE */
@media screen and (min-width: 600px) and (max-width: 999px) {
    .header {
        max-width: 70%;
    }

    h1 {
        font-size: 2rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .open  {
        width: 6%;
        opacity: 1;
    }

    .content .memeImg {
        max-width: 50%;
    }
}

@media screen and (min-width: 300px) and (max-width: 599px){
    .header {
        max-width: 90%;
    }

    h1 {
        font-size: 1.5rem;
    }

    .title {
        font-size: 1rem;
    }

    .open  {
        width: 8%;
        background-size: 1rem;
        opacity: 1;
    }

    .content .memeImg {
        max-width: 60%;
    }
}

 /* MAIN */
h1 {
    font-family: 'Source Serif Pro', serif;    
    color: rgb(65, 15, 15);
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
}

p:hover {
    color: white;
}

.memeTitle {
    flex-direction: column;
    display: flex;
    cursor: pointer;
    color:rgb(96, 18, 44);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color:rgb(96, 18, 44);
    font-size: 1rem;
    margin-top: 9px;
    margin-bottom: 5px;
    border-top: 1px solid #f8f8f88a;
}

input {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

.content {
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease-in;
    max-height: 0;
    cursor: pointer;
    text-align: center;
}

.memeImg {
    max-width: 40%;
}

.memeTitle input:checked ~ .content {
    opacity: 1;
    max-height: 150%;
    transition: all 1s ease-in;
}

.memeTitle input:checked ~ .title {
    color: white;
}

.mems:active .memeTitle .title {
    color: rgba(27, 121, 102, 0.751);
}
